/**
 *  Unect Júnior - 2018
 * @matheuspsantos
 */
 
/* 
    Página HOME
*/

/*  Intro  */

.introducao {
    width: 100%;
    height: 600px;
    padding-top: 100px;
    background-image: url('../img/home/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.introducao h2{
    margin-top: 150px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.introducao p {
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.introducao .hash {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

/*  Serviços    */

.servicos {
    width: 100%;
    height: 600px;
    background-color: #5986e4;
}

.servicos h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.servicos p {
    font-size: 20x;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

.servicos-box {
    background-color: #fff;
    width: 100%;
    height: 300px;
    margin-top: 40px;

}

.servicos-box img {
    margin-left: 70px;
    margin-top: 40px;
}

.servicos-box h3 {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.servicos-box p {
    color: #000;
    margin-top: 10px;
}

/*  Sobre   */

.sobre {
    width: 100%;
    height: 600px;
    background-color: #fff;
}

.sobre h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    color: #4060a5;
    text-transform: uppercase;
    font-weight: 700;
}

.sobre p {
    font-size: 20x;
    color: #4060a5;
    text-align: center;
    margin-top: 40px;
}

.sobre img {
    margin-top: 10px;
    margin-left: 320px;
}

.sobre-btn {
    margin-left: 300px;
    margin-top: 80px;
}

.sobre .btn {
    background-color: #5986e4;
    width: 90px;
    height: 30px;
    padding: 20px;
    margin-left: 40%;
    text-align: center;
    color: #fff;
    transition: all ease 0.3s;
}

.sobre .btn:hover {
    background-color: green;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}


/* Estilização responsiva */
/* Responsividade para telas entre 959 e 768 pixels */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* Serviços  */
    .servicos-box {
        height: 350px;
    }
    .servicos-box img {
        margin-left: 35px;
    }
    .servicos-box p {
        margin: 10px 5px;
    }

    /* Sobre */
    .sobre img {
        margin-top: 20px;
        margin-left: 220px;
    }
    .sobre-btn {
        margin-left: 230px;
    }
}
/* Responsividade para telas com largura abaixo de 767 pixel */
@media only screen and (max-width: 767px) {
    
    .servicos {
        height: 1000px;
        display: flex;
    }
    .servicos-box {
        display: block;
        width: 100%;
        height: 250px;
        margin: 15px 0;
        background-color: #fff;   
    }
    .servicos-box img {
        margin-left: 70px;
        margin-top: 20px;
    }
    /* Sobre */
    .sobre {
        height: 500px;
        display: block;
    }
    .sobre img {
        margin-top: 20px;
        margin-left: 0px;
    }
    .sobre-btn {
        display: block;
        width: 100%;
    }

    .sobre-btn .btn {
        width: 300px;
        margin: 85px;
    }
}