@charset "UTF-8";

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

h1 {
  color: rgba(0,0,0,.4);
  font-weight: 200;
}

h2 {
  color: rgba(0,0,0,.6);
}

.header {
  margin-top: 200px;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0 40px 0;
  background-color: #fff;
}

.navbar a {
  margin: 5px;
  padding: 5px 0 5px 0;
  text-decoration: none;
  font-weight: 800;
  color: rgba(1, 8, 37, 0.5);
  transition: all ease-in 0.2s;
}

.navbar a:hover {
  color: rgba(192, 4, 161, 0.8);
  cursor: pointer;
}