@charset "UTF-8";

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

h1 {
  color: rgba(0,0,0,.4);
  font-weight: 200;
}

h2 {
  color: rgba(0,0,0,.6);
}

h3 {
  color: rgba(0,0,0,.7);
}

ul {
  list-style: none;
}

.header {
  margin-top: 200px;
  height: 500px;
}

.about {
  position: relative;
  height: 600px;
}

.my-projects {
  position: relative;
  height: 600px;
  text-align: right;

}

.contact {
  position: relative;
  height: 600px;

}

