@charset "UTF-8";

/* importando o reset */
@import 'reset.css';
/* importando a fonte que vai ser usada para titulos */
@import '../fonts/quicksand.css';

h1,h2,h3,h4,h5 {
font-family: 'Quicksand', 'sans-serif';
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: red;
}
.background-video video{
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

/* content */
.content-overlay {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: gray;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
}
