/**
 *  Unect Júnior - 2018
 * @matheuspsantos
 */

 /* Estilização do site */
 
body {
    font-size: 18px;
    font-family: Dosis, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/*  Header  */

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #314a7e;
    transition: all ease 0.7s;
    overflow: initial;
}

.header a img {
    margin: 10px;
    margin-left: 70px;
    width: 40px;
    transition: all ease 0.7s;
}

/* menu que compacta */
.header label {
    padding-top: 20px;
    font-size: 28px;
    line-height: 70px;
    width: 30px;
    float: right;
    display: none;
}

#toogle {
    display: none;
}
/* fim do menu que compacta */
.header-menu {
    margin-top: 30px;
    text-align: right;
    transition: all ease 0.7s;
}

.header-menu ul li {
    display: inline;
    clear: right;
}

.header-menu a {
    color: #fff;
    padding: 5px;
    margin: 10px;
    width: 100%;
    height: 20%;
    transition: all ease 0.3s;
}

.header-menu ul li:hover {
    box-shadow: 2px 4px 4px rgba(0,0,0,.3);
}

/* Menu diminui após a rolagem da página */
.smallheader {
    background-color: #00298098;
    height: 50px;
    width: 100%;
    position: fixed;
    transition: all ease 0.7s;
    overflow: initial;
    z-index: 1;
}

.smallheader a img {
    margin-top: 15px;
    margin-left: 10px;
    transition: all ease 0.7s;
}

.smallheader .header-menu {
    margin-top: 10px;
    transition: all ease 0.7s;
}

/* menu que compacta */
.smallheader label {
    margin: 0 40px 0 0;
    font-size: 28px;
    line-height: 70px;
    width: 30px;
    float: right;
    display: none;
}

#toogle {
    display: none;
}

/* Efeito de pulsação do botão */

.btn {
    width: 180px;
    height: 20px;
    padding: 10px;
    margin-left: 390px;
    top: 60px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    display: initial;
    z-index:0;
}

.btn a {
    color: #fff;
    position: relative;    
}

.pulse {
    display: initial;
    position: relative;
    BACKGROUND: #5986e4;
}

.pulse::before {
    content: '';
    display: initial;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
            animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
}

@-webkit-keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        opacity: 0;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
}


/* fim do menu que compacta */

/* Textos de cada seção */
/* A ideia é impedir que haja muitas palavras em cada linha */
.section-text p {
    width: 550px;
    margin-left: 205px;
}
/*  Contato */

.contato {
    width: 100%;
    height: 600px;
    background-color: #314a7e;
    color: #fff;
}

.contato h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;   
}

.contato p {
    font-size: 20x;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

/**** formulario *****/
.contato form {
    margin-top: 60px;
}

.contato form input {
    width: 100%;
    margin: 10px;
    height: 40px;
    padding: 0;
}

.contato form textarea {
    margin :10px;
    width: 100%;
    height: 100px;
}

.contato form .form-submit {
    width: 100%;
    margin: 10px;
    border: none;
    background-color: #5986e4;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.contato form .form-submit:hover {
    background-color: green;
}

.contato .redes-sociais {
    margin-top: 60px;
    margin-left: 160px;
}

.contato .redes-sociais h3 {
    font-size: 20px;
    font-weight: 700;
}

.contato .redes-sociais img {
    height: 60px;
    margin-top: 40px;
}

.contato .endereco {
    margin-top: 40px;  
    margin-left: 160px;
}

.contato .endereco h3 {
    font-size: 20px;
    font-weight: 700;
}
.contato .endereco p 
{
    text-align: left;
}

/*  Rodapé  */

.rodape {
    width: 100%;
    height: 60px;
    background-color: #5986e4;
    color: #fff;
}

.rodape p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

/* Responsividade para telas entre 959px e 768px */
@media only screen and (min-width: 769px) and (max-width: 959px) {
    .contato .redes-sociais img {
        height: 45px;
    }
        /* Textos de cada seção */
    /* A ideia é impedir que haja muitas palavras em cada linha */
    .section-text p {
        width: 400px;
        margin-left: 184px;
    }
    /* Efeito de pulsação do botão */
    .btn {
        margin-left: 294px;
    }
}

/* Responsividade para telas inferiores a 768px */
@media only screen and (max-width: 768px) {
    /* menu que compacta */
    .header label {
        display: block;
        margin-top: -90px;
        cursor: pointer;
        color: #fff;
    }
    .smallheader label {
        display: block;
        margin-top: -40px;
        cursor: pointer;
        color: #fff;
    }
    .header a img {
        margin-left: 130px;
    }
    .header-menu {
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 20px;
    }
    .header-menu ul li {
        display: block;
        border-bottom: 1px #fff solid;
        padding: 3px;
        background: #314a7e;
    }
    .header-menu-toogle {
        text-align: left;
        width: 100%;
        margin-top: 15px !important;
        padding: 0;
        background-color: #00298098;
        display: none;
    }
    .header-menu-toogle ul li {
        display: block;
        border-bottom: 1px #fff solid;
        padding: 5px;
        background-color: #00298098;
    }
    .header-menu-toogle ul li a {
        color: #fff;
        padding-left: 100px;
    }

    #toogle:checked + .header-menu {
        display: block;
        transition: all ease 0.4s;
    }
    #toogle:checked + .header-menu-toogle {
        margin-top: 0px;
        display: block;
        background-color: #00298098;
        transition: all ease 0.4s;
    }

    /* Pulsação do botão */
    .btn {
        margin-left: 60px;
    }
        /* Textos de cada seção */
    /* A ideia é impedir que haja muitas palavras em cada linha */
    .section-text p {
        width: 290px;
        margin-left: 5px;
    }
    .contato {
        display: block;
        height: 800px;
    }
    .contato .redes-sociais {
        margin-top: 20px;
        margin-left: 0;
    }
    .contato .redes-sociais img {
        height: 45px;
        width: 45px;
        margin: 5px;
    }
    .contato .endereco {
        margin-top: 20px;
        margin-left: 0;
    }
}