#projects {

}

.item-projects {
    border: 1px solid;
    height: 200px;
    margin: 10px 0 10px 0;
    list-style: none;
    display: flex;
}

.one-project {
    position: relative;
}

.name-project {
    font-size: 13pt;
    position: relative;
}

